<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_67e01be2283c78093a7f42c870aa431a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_67e01be2283c78093a7f42c870aa431a" ></div>
        
</body>
<script>
    
    
            var map_67e01be2283c78093a7f42c870aa431a = L.map(
                "map_67e01be2283c78093a7f42c870aa431a",
                {
                    center: [22.9734, 78.6569],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 5,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_3eb322f6cdb76e24ceabf6fb58e7d4f9 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_3eb322f6cdb76e24ceabf6fb58e7d4f9.addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
            var marker_7cda9ab6f842ea8c2ac59151047cacc9 = L.marker(
                [28.6139, 77.209],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_f7a183ef2848a388b6a7a77ced47897d = L.popup({
  "maxWidth": 200,
});

        
            
                var html_9a1a201d2e0cc1e0bae2388be1b93b63 = $(`<div id="html_9a1a201d2e0cc1e0bae2388be1b93b63" style="width: 100.0%; height: 100.0%;"><b>Delhi</b><br>Red Fort and Delhi Street Food</div>`)[0];
                popup_f7a183ef2848a388b6a7a77ced47897d.setContent(html_9a1a201d2e0cc1e0bae2388be1b93b63);
            
        

        marker_7cda9ab6f842ea8c2ac59151047cacc9.bindPopup(popup_f7a183ef2848a388b6a7a77ced47897d)
        ;

        
    
    
            marker_7cda9ab6f842ea8c2ac59151047cacc9.bindTooltip(
                `<div>
                     Delhi
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0cf256ebf83e5cdee109e419c80846eb = L.marker(
                [19.076, 72.8777],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_f6c2b9a6e91aa8517b84acd82a8b3b06 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_9b29fbe12dbc5105e8ac4449613f48a7 = $(`<div id="html_9b29fbe12dbc5105e8ac4449613f48a7" style="width: 100.0%; height: 100.0%;"><b>Maharashtra</b><br>Vada Pav and Gateway of India</div>`)[0];
                popup_f6c2b9a6e91aa8517b84acd82a8b3b06.setContent(html_9b29fbe12dbc5105e8ac4449613f48a7);
            
        

        marker_0cf256ebf83e5cdee109e419c80846eb.bindPopup(popup_f6c2b9a6e91aa8517b84acd82a8b3b06)
        ;

        
    
    
            marker_0cf256ebf83e5cdee109e419c80846eb.bindTooltip(
                `<div>
                     Maharashtra
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_4ba38f4b4357b887858c3a3b05f268f4 = L.marker(
                [13.0827, 80.2707],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_4e40ac236bd4bc09488f39e5a82b0d50 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_06a15c2408cbc2142722f9fb4688393e = $(`<div id="html_06a15c2408cbc2142722f9fb4688393e" style="width: 100.0%; height: 100.0%;"><b>Tamil Nadu</b><br>Marina Beach and Dosa</div>`)[0];
                popup_4e40ac236bd4bc09488f39e5a82b0d50.setContent(html_06a15c2408cbc2142722f9fb4688393e);
            
        

        marker_4ba38f4b4357b887858c3a3b05f268f4.bindPopup(popup_4e40ac236bd4bc09488f39e5a82b0d50)
        ;

        
    
    
            marker_4ba38f4b4357b887858c3a3b05f268f4.bindTooltip(
                `<div>
                     Tamil Nadu
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_c931731f1d232425f1beb97dede468d3 = L.marker(
                [27.1751, 78.0421],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_27167ad52fae9d47f7df103b86dcb4ab = L.popup({
  "maxWidth": 200,
});

        
            
                var html_b3a248d2ecda58007bf765cbb6fd4f07 = $(`<div id="html_b3a248d2ecda58007bf765cbb6fd4f07" style="width: 100.0%; height: 100.0%;"><b>Uttar Pradesh</b><br>Taj Mahal and Petha</div>`)[0];
                popup_27167ad52fae9d47f7df103b86dcb4ab.setContent(html_b3a248d2ecda58007bf765cbb6fd4f07);
            
        

        marker_c931731f1d232425f1beb97dede468d3.bindPopup(popup_27167ad52fae9d47f7df103b86dcb4ab)
        ;

        
    
    
            marker_c931731f1d232425f1beb97dede468d3.bindTooltip(
                `<div>
                     Uttar Pradesh
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_429f0c2b5833b636650e63c6bc8e99e2 = L.marker(
                [22.5726, 88.3639],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_1fd49199a76b8528e78f3e1721680025 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_947a8971a305b8668ab87d9acad0b3ff = $(`<div id="html_947a8971a305b8668ab87d9acad0b3ff" style="width: 100.0%; height: 100.0%;"><b>West Bengal</b><br>Howrah Bridge and Rasgulla</div>`)[0];
                popup_1fd49199a76b8528e78f3e1721680025.setContent(html_947a8971a305b8668ab87d9acad0b3ff);
            
        

        marker_429f0c2b5833b636650e63c6bc8e99e2.bindPopup(popup_1fd49199a76b8528e78f3e1721680025)
        ;

        
    
    
            marker_429f0c2b5833b636650e63c6bc8e99e2.bindTooltip(
                `<div>
                     West Bengal
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_c5f63aecf99cb23772fc5d9b623eb873 = L.marker(
                [26.9124, 75.7873],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_9f2c2bf53370e25b0db0f31b1ed39e42 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_cda9efaf7f23594614456f973e21cc0d = $(`<div id="html_cda9efaf7f23594614456f973e21cc0d" style="width: 100.0%; height: 100.0%;"><b>Rajasthan</b><br>Jaipur Pink City and Dal Baati Churma</div>`)[0];
                popup_9f2c2bf53370e25b0db0f31b1ed39e42.setContent(html_cda9efaf7f23594614456f973e21cc0d);
            
        

        marker_c5f63aecf99cb23772fc5d9b623eb873.bindPopup(popup_9f2c2bf53370e25b0db0f31b1ed39e42)
        ;

        
    
    
            marker_c5f63aecf99cb23772fc5d9b623eb873.bindTooltip(
                `<div>
                     Rajasthan
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_a80bf638af2ab2f5b26c043ae4e0741e = L.marker(
                [23.0225, 72.5714],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_07e8af53c3b2078342dd0ee3194ccf36 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_e8226d88fae730ba5cd62c3a19637a51 = $(`<div id="html_e8226d88fae730ba5cd62c3a19637a51" style="width: 100.0%; height: 100.0%;"><b>Gujarat</b><br>Statue of Unity and Dhokla</div>`)[0];
                popup_07e8af53c3b2078342dd0ee3194ccf36.setContent(html_e8226d88fae730ba5cd62c3a19637a51);
            
        

        marker_a80bf638af2ab2f5b26c043ae4e0741e.bindPopup(popup_07e8af53c3b2078342dd0ee3194ccf36)
        ;

        
    
    
            marker_a80bf638af2ab2f5b26c043ae4e0741e.bindTooltip(
                `<div>
                     Gujarat
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_72a8bf173eca8131a9b3660f0618ba0c = L.marker(
                [9.9312, 76.2673],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_94c35338d876736248e919e520971773 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_0f8d8abde558d43cca4096cde52064f1 = $(`<div id="html_0f8d8abde558d43cca4096cde52064f1" style="width: 100.0%; height: 100.0%;"><b>Kerala</b><br>Backwaters and Sadya</div>`)[0];
                popup_94c35338d876736248e919e520971773.setContent(html_0f8d8abde558d43cca4096cde52064f1);
            
        

        marker_72a8bf173eca8131a9b3660f0618ba0c.bindPopup(popup_94c35338d876736248e919e520971773)
        ;

        
    
    
            marker_72a8bf173eca8131a9b3660f0618ba0c.bindTooltip(
                `<div>
                     Kerala
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_e62abb0f5473a521ee7f699e69c23080 = L.marker(
                [31.1471, 75.3412],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_385cbb402f1582bee00ccd66bd4fd451 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_c250af1a58ded129f6344540b41ce36e = $(`<div id="html_c250af1a58ded129f6344540b41ce36e" style="width: 100.0%; height: 100.0%;"><b>Punjab</b><br>Golden Temple and Butter Chicken</div>`)[0];
                popup_385cbb402f1582bee00ccd66bd4fd451.setContent(html_c250af1a58ded129f6344540b41ce36e);
            
        

        marker_e62abb0f5473a521ee7f699e69c23080.bindPopup(popup_385cbb402f1582bee00ccd66bd4fd451)
        ;

        
    
    
            marker_e62abb0f5473a521ee7f699e69c23080.bindTooltip(
                `<div>
                     Punjab
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_744599999d36b6243d4870ada319449f = L.marker(
                [12.9716, 77.5946],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_424200dcbeddef36ec75590c8736038c = L.popup({
  "maxWidth": 200,
});

        
            
                var html_5edc5b6fc839f9354fd33b466f6fe5ad = $(`<div id="html_5edc5b6fc839f9354fd33b466f6fe5ad" style="width: 100.0%; height: 100.0%;"><b>Karnataka</b><br>Mysore Palace and Bisi Bele Bath</div>`)[0];
                popup_424200dcbeddef36ec75590c8736038c.setContent(html_5edc5b6fc839f9354fd33b466f6fe5ad);
            
        

        marker_744599999d36b6243d4870ada319449f.bindPopup(popup_424200dcbeddef36ec75590c8736038c)
        ;

        
    
    
            marker_744599999d36b6243d4870ada319449f.bindTooltip(
                `<div>
                     Karnataka
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_023c27984b88d34f5cd819cf9a2822d8 = L.marker(
                [17.385, 78.4867],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_3a81feace5b3d9ce354b400bd317b935 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_3f1dd4ef8f1cd8c3a83e92530178202c = $(`<div id="html_3f1dd4ef8f1cd8c3a83e92530178202c" style="width: 100.0%; height: 100.0%;"><b>Telangana</b><br>Charminar and Hyderabadi Biryani</div>`)[0];
                popup_3a81feace5b3d9ce354b400bd317b935.setContent(html_3f1dd4ef8f1cd8c3a83e92530178202c);
            
        

        marker_023c27984b88d34f5cd819cf9a2822d8.bindPopup(popup_3a81feace5b3d9ce354b400bd317b935)
        ;

        
    
    
            marker_023c27984b88d34f5cd819cf9a2822d8.bindTooltip(
                `<div>
                     Telangana
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_bbab65df8ef33f3d5184639d5bf979bb = L.marker(
                [16.5062, 80.648],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_2f8d88801b4f05ddd88e1a5207018241 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_e411c3b57663db3ff70fa2e12ce76cf1 = $(`<div id="html_e411c3b57663db3ff70fa2e12ce76cf1" style="width: 100.0%; height: 100.0%;"><b>Andhra Pradesh</b><br>Tirupati Temple and Andhra Pickles</div>`)[0];
                popup_2f8d88801b4f05ddd88e1a5207018241.setContent(html_e411c3b57663db3ff70fa2e12ce76cf1);
            
        

        marker_bbab65df8ef33f3d5184639d5bf979bb.bindPopup(popup_2f8d88801b4f05ddd88e1a5207018241)
        ;

        
    
    
            marker_bbab65df8ef33f3d5184639d5bf979bb.bindTooltip(
                `<div>
                     Andhra Pradesh
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_5846b194f8181014ef22808213ef3944 = L.marker(
                [20.2961, 85.8245],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_ebf984ecf443f7642c2ca9e39321fbc4 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_9f73c6589900ecf5f29b61ccf9d94cc8 = $(`<div id="html_9f73c6589900ecf5f29b61ccf9d94cc8" style="width: 100.0%; height: 100.0%;"><b>Odisha</b><br>Konark Sun Temple and Puri Jagannath Temple</div>`)[0];
                popup_ebf984ecf443f7642c2ca9e39321fbc4.setContent(html_9f73c6589900ecf5f29b61ccf9d94cc8);
            
        

        marker_5846b194f8181014ef22808213ef3944.bindPopup(popup_ebf984ecf443f7642c2ca9e39321fbc4)
        ;

        
    
    
            marker_5846b194f8181014ef22808213ef3944.bindTooltip(
                `<div>
                     Odisha
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0382b6a492c66ad20d933fb6d19cc8fb = L.marker(
                [23.2599, 77.4126],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_6e3c50811b8d59104c4b870cf6772e52 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_3e63c74dca2cbfcd1a3deea201e9cffe = $(`<div id="html_3e63c74dca2cbfcd1a3deea201e9cffe" style="width: 100.0%; height: 100.0%;"><b>Madhya Pradesh</b><br>Khajuraho Temples and Poha</div>`)[0];
                popup_6e3c50811b8d59104c4b870cf6772e52.setContent(html_3e63c74dca2cbfcd1a3deea201e9cffe);
            
        

        marker_0382b6a492c66ad20d933fb6d19cc8fb.bindPopup(popup_6e3c50811b8d59104c4b870cf6772e52)
        ;

        
    
    
            marker_0382b6a492c66ad20d933fb6d19cc8fb.bindTooltip(
                `<div>
                     Madhya Pradesh
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0a2e1bef214bd61da21b433cf28b9759 = L.marker(
                [26.1433, 91.7898],
                {
}
            ).addTo(map_67e01be2283c78093a7f42c870aa431a);
        
    
        var popup_3f03ad641fa91448977f3611916c61b5 = L.popup({
  "maxWidth": 200,
});

        
            
                var html_baa7ae2743044917e6763b10fc397cd7 = $(`<div id="html_baa7ae2743044917e6763b10fc397cd7" style="width: 100.0%; height: 100.0%;"><b>Assam</b><br>Kaziranga National Park and Assam Tea</div>`)[0];
                popup_3f03ad641fa91448977f3611916c61b5.setContent(html_baa7ae2743044917e6763b10fc397cd7);
            
        

        marker_0a2e1bef214bd61da21b433cf28b9759.bindPopup(popup_3f03ad641fa91448977f3611916c61b5)
        ;

        
    
    
            marker_0a2e1bef214bd61da21b433cf28b9759.bindTooltip(
                `<div>
                     Assam
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>